
@font-face {
  font-family: MuseoSlab;
  src: url("/fonts/Museo_Slab_500.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MuseoSlab;
  src: url("/fonts/Museo_Slab_500italic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: MuseoSans;
  src: url("/fonts/MuseoSans_500.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MuseoSans;
  src: url("/fonts/MuseoSans_500_Italic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: ProximaNova;
  src: url("/fonts/ProximaNova-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url("/fonts/ProximaNova-ReguralItalic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: ProximaNova;
  src: url("/fonts/ProximaNova-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url("/fonts/ProximaNova-BoldIt.otf");
  font-weight: bold;
  font-style: italic;
}